{{#if user.username}}
<h1>According to Slack you are "{{user.username}}"</h1>
{{user}}
{{else}}
<h1>Welcome to the social login with Slack</h1>
<h3>Please login using the Slack login button</h3>
{{/if}}