<header>
  <h1>Hello {{user.username}} - You are {{user.role}}</h1>
</header>
<section>
  <p>View <a href="private-page">private page</a></p>

  {{#is user.role 'ADMIN'}}
  <p>You can only see this if you are an ADMIN</p>
  {{/is}}

  {{#is user.role 'EDITOR'}}
  <p>You can only see this if you are an EDITOR</p>
  <img src="https://i.ytimg.com/vi/Yj7ja6BANLM/maxresdefault.jpg" alt="" />
  {{/is}}

  <p>Rest of the contents are for everyone</p>

  <a href="logout">Logout</a>
</section>